@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");

* {
  padding: 0;
  border: none;
  outline: none;
}

body {
  background: black;
}

strong {
  color: #fff;
}
