.contact-container {
  display: block;
}
.contact-container h2 {
  margin-top: 3rem;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 2.3rem;
  font-family: "Raleway", sans-serif;
}
.contact-infos p {
  margin-top: 3rem;
  font-size: 1.5rem;
  color: #a99d9d;
  display: flex;
  justify-content: center;
  font-family: "Raleway", sans-serif;
}
.contact-container h3,
.contact-container span {
  color: #a99d9d;
  font-size: 1.5rem;
}
.contact-container h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.contact-container strong {
  font-size: 1.5rem;
}

.span-infos {
  display: flex;
  justify-content: space-between;
  margin: 5rem 13rem 0rem 18rem;
}
form {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 4rem;
}
.formWord {
  width: 50%;
  padding: 4rem;
}
.formWord h2 {
  font-size: 1.7rem;
}
button {
  width: 100%;
  height: 55px;
  border-radius: 5px;
  background-color: rgba(209, 177, 96, 0.4);
  transition: 0.5s linear;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}
button:hover {
  background-color: unset;
  border: 2px solid #e49504;
  letter-spacing: 0.3rem;
  color: white;
}
.confirmation {
  color: rgb(0, 255, 0);
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
}
.formWord input {
  width: 100%;
  height: 50px;
  margin-bottom: 1.5rem;
  border: 0;
  margin-top: 2%;
  padding-left: 3%;
  color: white;
  background-color: #1a1a1a;
  border: solid 1px rgba(209, 177, 96, 0.4);
  box-shadow: rgba(209, 177, 96, 0.4) 1.95px 2px 2.6px;
  letter-spacing: 0.2rem;
}
.formWord textarea {
  width: 100%;
  height: 80px;
  margin-top: 2%;
  margin-bottom: 10%;
  padding-top: 0.5rem;
  padding-left: 1.3rem;
  color: white;
  background-color: #1a1a1a;
  border: solid 1px rgba(209, 177, 96, 0.4);
  box-shadow: rgba(209, 177, 96, 0.4) 1.95px 2px 2.6px;
}

@media (max-width: 991px) {
  .span-infos {
    display: flex;
    justify-content: space-between;
    margin: 5rem 5rem 0rem 5rem;
    text-align: center;
  }
  .formWord {
    margin: 0rem;
    width: 80%;
  }
}

@media (max-width: 480px) {
  .span-infos {
    display: block;
    justify-content: center;
    margin: 5rem 5rem 0rem 5rem;
    text-align: center;
  }
  .phone-infos {
    margin-bottom: 2rem;
  }
  .formWord {
    margin: 0rem;
    width: 100%;
  }
}
